.devis {
  display: flex;
  gap: 20px;
}

.devis-img {
  flex-basis: calc(33% - 20px)
}

.devis-img img {
  width: 100%;
}

.devis-form {
  flex-basis: 66%;
}

.devis-form-content {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.form-item label {
  display: block;
}

.form-item input, .form-item select {
  width: 100%;
  padding: 16px;
  border: 1px solid #CAE2FF;
  border-radius: 8px;
}

.devis-button {
  width: 100%;
  padding: 24px;
  border: none;
  background: linear-gradient(#31B7BD, #238084);
  border-radius: 8px;
  color: white;
  grid-column: 1/3;
}