.jumbo {
  padding: 80px 0;
}

.jumbo-content {
  display: flex;
  align-items: center;
}

.jumbo-content-text, .jumbo-content-image {
  flex-basis: 50%;
}

.jumbo-content-image img {
  width: 100%;
}

.jumbo-content-text ul {
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin-top: 30px;
}

.jumbo-content-text ul li a {
  text-decoration: none;
  color: #31B7BD;
  display: inline-block;
  border-radius: 8px;
  font-weight: 600;
}

.jumbo-content-text ul li:first-child a {
  background-color: #B5E5E7;
  padding: 24px 36px;
}

@media screen and (max-width: 480px) {

  .jumbo-content {
    flex-wrap: wrap;
    text-align: center;
  }

  .jumbo-content-text, .jumbo-content-image {
    flex-basis: 100%;
  }

  .jumbo-content-text{
    order: 2
  }

  .jumbo-content-image {
    order: 1;
    margin-bottom: 30px;
  }

  .jumbo-content-text ul {
    flex-wrap: wrap;
    justify-content: center;
  }

  .jumbo-content-text ul li {
    flex-basis: 100%;
  }

  .jumbo-content-text ul li a {
    width: 100%;
  }


}