.section {
  padding: 80px 0;
}

.section-blu {
  background-color: #E3ECF6;
}

.section-white {
  background-color: #fff;
}

.section-title {
  text-align: center;
  width: 50%;
  margin: auto;
}

.section-title p {
  margin-bottom: 0;
  text-transform: uppercase;
}

.services {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  text-align: center;
  gap: 20px;
  margin-top: 40px;
}

@media screen and (max-width: 480px) {

  .services {
    grid-template-columns: repeat(2, 1fr);
  }

}